<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<table class="table table-hover mt-3" id="users"
  data-source="<%= users_path format: :json %>"
  data-controller="users"
  data-user-target="tbody">
  <thead>
    <tr class="table-secondary">
      <th>Id</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<%= link_to "New user", new_user_path, class: "btn btn btn-outline-success" %>
